<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<link rel="stylesheet" href="" class="css">
<style>
    body{
    background: url(https://img.freepik.com/free-photo/technology-human-touch-background-modern-remake-creation-adam_53876-129794.jpg?w=1596&t=st=1685300948~exp=1685301548~hmac=5619cb86fef1e1d2cb32c2cc238969af54a40986b4affba4756edbcf08e0ce72) ;
    background-size: 2000 2500;
    background-repeat: no-repeat; }
</style>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

    <h3>Log In to your account!</h3>
    <form method="post" action="/signin" class="mb-2">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
        </div>
        <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
        </div>

        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</body>
</html>